body {
  font-family: sans-serif;
  background: green;
  padding: 20px;
}
form {
  background: red;
  padding: 20px;
  max-width: 400px;
  border-radius: 5px;
  margin: auto;
}
label {
  display: block;
  margin-bottom: 10px;
}
input, select, textarea {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}
button {
  margin-top: 10px;
  padding: 6px 12px;
}
